<%- include ("../partials/header") %>
<div class="container">
  <div class="profile u-mt-rm">
    <form action="/author/article/details/<%= article.id %>?_method=PUT" method="POST">
      <div class="form-card" data-step>
          <h3 class="edit-card-title">Edit Article </h3>
          <div class="form-group">
            <input type="text" name="article[articleTitle]" class="form-control" placeholder="Title" value="<%= article.articleTitle %>">
          </div>
          <div class="form-group">
            <input type="text" name="artile[publishingYear]" class="form-control" placeholder="Year of Publication" value="<%= article.publishingYear %>">
          </div>
          <div class="form-group">
            <textarea name="article[articleDescription]" id="" cols="30" rows="10" class="form-control" placeholder="Description"><%= article.articleDescription %></textarea>
          </div>
         
          <div class="form-btn btn-pos">
            <button class="btn btn-dark-green-2 btn-pos btn-green-pos" type="submit">Save</button>
          </div>
        </div>
  </form>
  <form action="/author/article/details/<%= article.id %>?_method=DELETE" method="POST">
      <div class="form-btn btn-pos">
          <button class="btn btn-danger btn-pos btn-danger-pos" type="submit">Delete article</button>
        </div>
  </form>
  </div> 
</div>